<!DOCTYPE html>
<html>
	<head>
		<title>Demo</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>


	</head>
<body>
<script>
    var app = angular.module("app", []);
    app.controller("HttpGetController", function ($scope, $http) {
	//$scope.encoded = btoa("my-trusted-client:secret");
        $scope.SendData = function () {
           // use $.param jQuery function to serialize data from JSON 
            var data = $.param({
                code: '0MaxSamWqCapp5QD',
                grant_type: 'authorization_code',
				redirect_uri: 'http://localhost:5000'
		
            });
			
			$scope.encoded = btoa("this_is_my_id:this_is_my_secret");
           
            var config = {
                headers : {
					'Content-Type': 'application/x-www-form-urlencoded',
					'Authorization': 'Basic dGhpc19pc19teV9pZDp0aGlzX2lzX215X3NlY3JldA==',
				}
            }

            $http.post('http://192.168.121.148:5000/api/oauth2/token', data, config)
			
            .success(function (data, status, headers, config) {
                $scope.PostDataResponse = data;
            })
            .error(function (data, status, header, config) {
                $scope.ResponseDetails = "Data: " + data +
                    "<hr />status: " + status +
                    "<hr />headers: " + header +
                    "<hr />config: " + config;
            });
        };

    });
</script>
<div ng-app="app" ng-controller="HttpGetController">
    <button ng-click="SendData()">Submit</button>
    <hr />
    {{ PostDataResponse }}
</div>
</body>
</html>