<!DOCTYPE html>
<html>
	<head>
		<title>Demo</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>


	</head>
<body>
<script>
    var app = angular.module("app", []);
    app.controller("HttpGetController", function ($scope, $http) {
	//$scope.encoded = btoa("my-trusted-client:secret");
        $scope.SendData = function () {
           // use $.param jQuery function to serialize data from JSON 
           
			$scope.encoded = btoa("this_is_my_id:this_is_my_secret");
           
            var config = {
                headers : {
					'Content-Type': 'application/x-www-form-urlencoded',
					'Authorization': 'Bearer RSqEWCk3BU9nBNSEG5zS51vHM6KQJabPEsHYMA5KU3YmKUTjpp75qw1zfBpgkENxsrDTFW62DO7hl4HI8DSDFu5IqLfBPWSSASGeYsrTjOGua7w0c9GC4b44rkvSgICwiB48BOWvbLuzgUsJj5YuluwUIo7uAqG9pfX9mAOtEpncBBvg8wklcxhwvY9fWvlmGvPzFxw7BNMjSWEaGN1aceWgPtt2sL0c8GEw7bxjWjWqqKqSd2YD8YfuQDYfAW8v'
 			    }
            }

            $http.get('http://192.168.121.148:5000/api/employee',config)
			
            .success(function (data, status, headers, config) {
                $scope.PostDataResponse = data;
            })
            .error(function (data, status, header, config) {
                $scope.ResponseDetails = "Data: " + data +
                    "<hr />status: " + status +
                    "<hr />headers: " + header +
                    "<hr />config: " + config;
            });
        };

    });
</script>
<div ng-app="app" ng-controller="HttpGetController">
    <button ng-click="SendData()">Submit</button>
    <hr />
    {{ PostDataResponse }}
</div>
</body>
</html>