<!DOCTYPE html>
<html>
	<head>
		<title>Demo</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>


	</head>
<body>
<script>
    var app = angular.module("app", []);
    app.controller("HttpGetController", function ($scope, $http) {
	//$scope.encoded = btoa("my-trusted-client:secret");
        $scope.SendData = function () {
           // use $.param jQuery function to serialize data from JSON 
            var data = $.param({
                first_name: 'Juan',
                middle_name: 'C',
				last_name: 'Dela Cruz',
				email:'juan@yahoo.com'
			});
			
			
           
            var config = {
                headers : {
					'Content-Type': 'application/x-www-form-urlencoded',
					'Authorization': 'Bearer QCT4xD7yMIRbeUYWgFhOlMJ0lTzeJEwoqWKVVKRZZbQUErzq5zjVLifnEujCQTd1jR9jpJia6srKxLrQuIBOugFtD3gg3YSBURaUOtcFYKqEb1Lyh4nePfWH8teAGNq4c5qoa4mGXOQ9vj0KswBKdEiSIoVanZ0rmdWbN1KqG6WC1LaHBJFGpwNnbm2Q23FrR5QnUeZaqpwY4PxndzAa8JmG3rHP2XaBz3YJRnUUG5n0rk43XHi8oaYnwQuduM0e'
					
				}
            }

            $http.post('http://localhost:5000/api/employee', data, config)
			
            .success(function (data, status, headers, config) {
                $scope.PostDataResponse = data;
            })
            .error(function (data, status, header, config) {
                $scope.ResponseDetails = "Data: " + data +
                    "<hr />status: " + status +
                    "<hr />headers: " + header +
                    "<hr />config: " + config;
            });
        };

    });
</script>
<div ng-app="app" ng-controller="HttpGetController">
    <button ng-click="SendData()">Submit</button>
    <hr />
    {{ PostDataResponse }}
</div>
</body>
</html>