<!DOCTYPE html>
<html>
	<head>
		<title>Demo</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>


	</head>
<body>
<script>
    var app = angular.module("app", []);
    app.controller("HttpGetController", function ($scope, $http) {

        $scope.SendData = function () {
          
		    var data = $.param({
                email: 'newemail@yahoo.com',
            });
		   
		    var empid = '589153831d502f67a4d5cef4';
            var config = {
                headers : {
					'Content-Type': 'application/x-www-form-urlencoded',
					'Authorization': 'Bearer JYor5F0Bf19LNNuoiK23VYPAo34clKeUg03fTktL81etL6TYWrwZ9DPktYFvi37yBfdwNhgwaTCuPABuBNGkBWdTzhp1KCvQQVVUzayuqaNjUUp4iqYNOBDXXbd93onGF9wR6SCaG4XcSgsW0eG1GpDwHPjI53pJi1WzI1bPRReV4NKaYmjC7OwK9loKuzH8yXchzIrAmsfhSpeFJuQWj8YDTaD3BkOXqlqDBLy5rGHwtPxAxeGIjMmxKO3dpjm5'
 			    }
            }

            $http.put('http://localhost:5000/api/employee/'+empid,data,config)
			
            .success(function (data, status, headers, config) {
                $scope.PostDataResponse = data;
            })
            .error(function (data, status, header, config) {
                $scope.ResponseDetails = "Data: " + data +
                    "<hr />status: " + status +
                    "<hr />headers: " + header +
                    "<hr />config: " + config;
            });
        };

    });
</script>
<div ng-app="app" ng-controller="HttpGetController">
    <button ng-click="SendData()">Submit</button>
    <hr />
    {{ PostDataResponse }}
</div>
</body>
</html>